div{
    width: 100%;
    background-color: wheat;
}
img{
    width: 95%;
    height: 95%;
    object-fit: cover;
    border: 10px solid black;
    border-radius: 2%;
}
.enlace{
    width: 100%;
    font-size: 75%;
}
